.header-cart {
  position: relative;
  transition: opacity 0.5s ease;
  .header-cart-quantity {
    position: absolute;
    top: -1.5rem;
    right: -1.7rem;
    color: rgb(161, 0, 0);
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0;
  }
}
.header-cart:hover {
  opacity: 0.6;
}
