.header-cart {
  position: relative;
  .header-cart-quantity {
    position: absolute;
    top: -1.5rem;
    right: -1.7rem;
    color: rgb(161, 0, 0);
    font-size: 1.5rem;
    font-weight: bold;
  }
}
