.items-item {
  margin: 2rem;
  width: 20%;

  .items-item-img {
    width: 100%;
    height: auto;
    max-height: 25rem;
    max-width: 30rem;
  }
  .items-item-title {
    text-align: center;
    font-size: 1.3rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    opacity: 0.9;
    margin: 1rem 0 0 0;
    font-weight: normal;
  }
  .items-item-title::after {
    content: "";
    position: relative;
    bottom: 0;
    left: 50%;
    width: 16rem;
    margin-left: -8rem;
    margin-top: 1rem;
    background: #aaaaaa;
    display: block;
    height: 0.2rem;
  }
  .items-item-price {
    text-align: center;
    font-size: 1.7rem;
    margin: 1rem 0 0 0;
    font-weight: normal;
    letter-spacing: 0.1rem;
  }
}
