.item-count {
  width: 80%;
  .item-count-controls {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    border: 1px solid rgb(145, 145, 145);
    border-radius: 1rem;
    padding: 1rem;
    background-color: white;
    .item-count-control {
      font-size: 2rem;
    }
    .item-count-control:hover {
      cursor: pointer;
    }
    .item-count-stock {
      text-align: center;
      background-color: inherit;
      border: none;
      font-size: 1.8rem;
      font-weight: bold;
    }
  }
  .item-count-button {
    width: 100%;
    margin-top: 2rem;
    background-color: white;
    border: 1px solid rgb(145, 145, 145);
    border-radius: 1rem;
    padding: 1.5rem 1rem;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
  }
  .item-count-button:hover {
    cursor: pointer;
    border: 1px solid black;
  }
  .disabled:hover {
    cursor: initial;
    border: 1px solid rgb(145, 145, 145);
  }
}
