.item-detail {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  user-select: none;

  .item-detail-shop {
    width: 30%;
    letter-spacing: 0.2rem;
    .item-title {
      text-transform: uppercase;
      font-size: 2.2rem;
    }
    .item-title::after {
      content: "";
      position: relative;
      bottom: 0;
      left: 0;
      width: 6rem;
      margin-top: 1rem;
      background: #c7c7c7;
      display: block;
      height: 0.15rem;
    }
    .item-description {
      font-size: 1.5rem;
      text-transform: uppercase;
    }
    .item-price {
      font-size: 2rem;
      margin-top: 3rem;
    }
  }
}
