.page-header::before {
  content: "";
  display: block;
  height: 20rem;
  width: 100%;
  position: absolute;
  left: 0;
  top: 10;
  opacity: 0.4;
  background: none;
  background-image: linear-gradient(
    to bottom,
    #ffffff 5%,
    rgba(0, 0, 0, 0) 40%
  );
  transition: all 0.5s ease 0s;
}
.page-header {
  position: absolute;
  top: 3.2rem;
  left: 0;
  width: 100%;
  z-index: 5;
  .navbar {
    display: flex;
    justify-content: space-around;
    height: 8rem;
    padding: 2rem 6rem;
    position: relative;
    width: 100%;
    .logo {
      width: auto;
      height: 4rem;
    }
    .links {
      width: 80%;
      .links-list {
        display: flex;
        justify-content: space-between;
        margin: 0;
        .links-link {
          list-style-type: none;
          padding: 1rem;
          .navlink {
            color: #000000;
            letter-spacing: 0.2rem;
            text-transform: uppercase;
            font-size: 1.3rem;
          }
          .navlink:hover {
            text-decoration: underline black;
          }
          .active-navlink {
            text-decoration: underline black;
          }
        }
      }
    }
  }
  .navbar-fixed {
    position: fixed;
    background: #ffffff;
    opacity: 0.9;
    top: 0;
  }
}
