.cart-items {
  display: block;
  background-color: #e1e1e1;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;

  .cart-header {
    tr {
      th {
        padding: 1rem 4rem;
        font-size: 1.5rem;
        text-align: center;
      }
    }
  }
  .cart-footer {
    text-align: left;
    .cart-footer-link {
      margin-left: 1rem;
      font-size: 1.2rem;
    }
    .cart-footer-link:hover {
      text-decoration: underline;
    }
    .cart-footer-clear {
      text-align: center;
      color: rgb(161, 0, 0);
    }
    .cart-footer-clear:hover {
      text-decoration: underline;
    }
  }
}
