/* Box-sizing y medida de rems */
html {
  font-size: 62.5%;
  /* Reset para REMS - 62.5% = 10px de 16 px */
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* GENERALES */
h2 {
  font-size: 3rem;
  margin: 0;
}
a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}
