@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Abel&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Box-sizing y medida de rems */
html {
  font-size: 62.5%;
  /* Reset para REMS - 62.5% = 10px de 16 px */
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
/* Variables */
$titles-font: "Noto Sans KR", sans-serif;
$text-font: "Abel", sans-serif;

/* GENERALES */
body {
  user-select: none;
}
h1,
h2,
h3,
h4 {
  font-family: $titles-font;
}
p,
input {
  font-family: $text-font;
}
h2 {
  font-size: 3rem;
  margin: 0;
}
a {
  text-decoration: none;
  font-size: 1.5rem;
}
a:visited {
  color: inherit;
}
